.single-player-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
   

}


.single-player-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.25rem;
    height: 40rem;
    width: 30rem;
    background-color: #e9fff9;
    margin: 2rem;
    padding: 2rem;
    border-color: #d64045;
    border-style: groove;
    border-width: 0.75rem;

}

#single-name{
    margin-bottom: 1rem;
}

.single-pup{
    margin: 1rem;
    text-align: center;
   
}